.navbar {
  display: flex;
  position: sticky;
  background-color: #fff;
  left: 0;
  top: 0;

  justify-content: space-between;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  height: 34px;
  width: 120px;
  margin: 0.6em;
}

.navmenu {
  display: flex;
}

.navmenu li {
  list-style-type: none;
  padding: 0 20px;
  margin: 4px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
